form {
  text-align: center;
}

h2 {
  font-family: Arial, Helvetica, sans-serif;
  color: #333333;
}

body {
  min-height: 100vh; /* at least full viewport height */
  background: linear-gradient(to bottom right, #687E33, #87A6B6) no-repeat fixed;
  background-size: cover;
}
button {
  background-color: #B0CCED;
  color: black;
  padding: 0.75rem 1.5rem;
  border-radius: 5px;
  text-decoration: none;
  border: none;
}
button:hover {
  background-color: #6B99E4;
}
img {
    width: 300px;
    height: 200px;
}
.result {
  text-align: center;
  margin-top: 20px;
  font-family: Arial, Helvetica, sans-serif;
}